body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  height: 40px;
  width: 400px;
  border-radius: 5px;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
